<script>
	$(document).ready(initRemote);
</script>
<div data-role="page" id="home">
	<div data-role="header">
		<img src="/images/dm_logo2.png" />
	</div>
	<div data-role="content" class="content">
	</div>
</div>
