<script>
	$(document).ready(initBuilder);
</script>
<div class="grid_10">
	<div id="tabs">
		<ul id="tabs-list">
		</ul>
	</div> <!-- END tabs -->
</div>
<div class="grid_2">
	<h1>Library</h1>
	<div id="library">
		<select id="device-selector"></select>
	</div> <!-- END buttons-library -->
</div>
