<div align="center">
  <h1 id="welcome_text_span">Welcome To Dynamote</h1>

  <p class="ready_text_span">When your ready...click the button below:</p>
  <button onclick="window.location = 'add_admin'">START</button>
  <br>
</div>